header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;

  .logo {
    height: 50px;

    img {
      height: 100%;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 18px;

    a {
      margin: 0 10px;
      color: #333;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #555;
      }

      &.connexion {
        margin-left: 20px;
        padding: 8px 12px;
        background-color: #50c878;
        color: black;
        border-radius: 20px;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(175, 55, 135, 1);
          color: white;
        }
      }
    }
  }
}