.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets/images/Shutterstock-YbwpTCPAE3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.25;
  }

  h1 {
    font-size: 48px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      align-items: center;

      label {
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        margin-bottom: 0.5rem;
      }

      input[type="email"],
      input[type="password"] {
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 1.2rem;
        padding: 0.5rem 0;

        &:focus {
          outline: none;
          border-bottom: 1px solid black;
        }
      }
    }

    button[type="submit"] {
      background-color: rgba(80, 200, 120, 1);
      color: black;
      border: none;
      border-radius: 4px;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(175, 55, 135, 1);
        color: white;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-bottom: 5%;

    &:hover {
      color: black;
    }
  }
}